* {
  box-sizing: border-box;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

#main {
  width: 83.33%;
  float: left;
}

#sidebar {
  width: 16.66%;
  height: 80vh;
  float: left;
  background-color: #eee;
  padding: 20px;
}

.size-field {
  margin: 0 0 10px 0;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square-index {
  font-size: 8px;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 12px;
  color: #999;
}

@keyframes squares-animation {
  from {
    scale: 0.5;
  }
  to {
    scale: 1;
  }
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  position: relative;
  animation-name: squares-animation;
  animation-duration: 0.3s;
  transition: all 0.2s ease-in-out;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.history-bar {
  max-height: 500px;
  overflow: scroll;
}

.history-button button {
  background: #eee;
  border: 2px solid #eee;
  margin-bottom: 5px;
}

.history-button button:hover {
  background: #ddd;
}

.history-selected {
  background: #fff;
  border: 2px solid #fff;
}

.bold {
  color: red;
}

.flex-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.history-cell {
  display: flex;
}

.history-desc {
  width: 100%;
}

.player-1,
.player-2 {
  width: 20px;
}

.player-1 {
  background-color: brown;
}

.player-2 {
  background-color: royalblue;
}

.hide {
  display: none;
}

.slider {
  display: flex;
}

.slider-label {
  display: inline-block;
  width: 20px;
}

.slider-input {
  width: 100%;
}

.sidebar-settings {
  display: flex;
  justify-content: space-between;
}

.last-move {
  z-index: 9999;
  transform: scale(1.2);
  transition: all 0.2s;
}

.hover_player-1::before,
.hover_player-2::before {
  content: "";
  opacity: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.hover_player-1:hover::before {
  content: "X";
  opacity: 0.3;
}

.hover_player-2:hover::before {
  content: "O";
  opacity: 0.3;
}
