* {
  box-sizing: border-box;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  /* background-color: #2a0944; */
  background-image: url("https://source.unsplash.com/random/?city,night");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

/* ============ main ============= */

#main {
  width: 83.33%;
  height: 100%;
  float: left;
  position: relative;
}

.App {
  /* background-color: #ccc; */
  height: 80vh;
  width: 80vw;
  margin: auto;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(128, 128, 128, 0.37);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 15px;
}

.size-field {
  margin: 0 0 10px 0;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square-index {
  font-size: 8px;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 12px;
  color: #eee;
}

@keyframes squares-animation {
  from {
    scale: 0.5;
  }
  to {
    scale: 1;
  }
}

.square {
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 8px 32px 0 rgba(128, 128, 128, 0.37);
  border-radius: 10%;
  border: 1px solid #ddd;
  outline: 0px solid #ddd;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  /* margin-right: -1px;
  margin-top: -1px; */
  padding: 0;
  text-align: center;
  height: 35px;
  width: 35px;
  position: relative;
  animation-name: squares-animation;
  animation-duration: 0.3s;
  transition: all 0.2s ease-in-out;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.history-bar {
  overflow: scroll;
}

.history-button button {
  background: #eee;
  border: 2px solid #eee;
  margin-bottom: 5px;
}

.history-button button:hover {
  background: #ddd;
}

.history-selected {
  background: #fff;
  border: 2px solid #fff;
}

.bold {
  background: red;

  color: white !important;
}

.flex-reverse {
  display: flex;
  flex-direction: column-reverse;
}

/* ========= side bar ========== */

#sidebar {
  width: 16.66%;
  height: 100%;
  float: left;
  background-color: rgb(236, 236, 236);
  padding: 20px;
  border-radius: 0 15px 15px 0;
  overflow-y: hidden;
}

.history-cell {
  display: flex;
}

.history-desc {
  width: 100%;
}

.player-1,
.player-2 {
  width: 20px;
}

.player-1 {
  background-color: #8bbccc;
}

.player-2 {
  background-color: #ff884b;
}

.player-1-played {
  color: #8bbccc;
}

.player-2-played {
  color: #ff884b;
}

.hide {
  display: none;
}

.slider {
  display: flex;
}

.slider-label {
  display: inline-block;
  width: 20px;
}

.slider-input {
  width: 100%;
}

.sidebar-settings {
  display: flex;
  justify-content: space-between;
}

.last-move {
  z-index: 9;
  transform: scale(1.2);
  transition: all 0.2s;
}

.hover_player-1::before,
.hover_player-2::before {
  content: "";
  opacity: 0;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.hover_player-1:hover {
  z-index: 99;
  outline: 2px solid #8bbccc;
}

.hover_player-2:hover {
  z-index: 99;
  outline: 2px solid #ff884b;
}

.hover_player-1:hover::before {
  content: "X";
  opacity: 0.3;
}

.hover_player-2:hover::before {
  content: "O";
  opacity: 0.3;
}
