* {
  box-sizing: border-box;
}

body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 8px;
}

#main {
  width: 83.33%;
  float: left;
}

#sidebar {
  width: 16.66%;
  height: 100vh;
  float: left;
  background-color: #eee;
  padding: 20px;
}

.size-field {
  margin: 0 0 10px 0;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square-index {
  font-size: 8px;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 12px;
  color: #999;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  position: relative;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}

.history-button button {
  background: #eee;
  border: 2px solid #eee;
  margin-bottom: 5px;
}

.history-button button:hover {
  background: #ddd;
}

.history-selected button {
  background: #ccc;
  border: 2px solid #ccc;
}

.bold {
  color: red;
}

.flex-reverse {
  display: flex;
  flex-direction: column-reverse;
}

.history-cell {
  display: flex;
}

.history-desc {
  width: 100%;
}

.player-1,
.player-2 {
  width: 20px;
}

.player-1 {
  background-color: brown;
}

.player-2 {
  background-color: royalblue;
}
